<footer id="footer" class="grid-80  np-mobile">

	<div class="widgets section">		
        
        <div class="clear hide-on-desktop"></div>
			
		<div class="clear"></div>

        <p class="published"><%- themeConfig.footerInfo %></p>
		
	</div>

	<a href="javascript:void(0)" id="back-to-top" class="button dark"><i class="fa fa-chevron-up"></i></a>
	
</footer>
<!-- end: #footer -->
		<div class="clear"></div>



    </div>
    <!-- end: #wrapper -->

    

    <script type="text/javascript" src="<%= themeConfig.domain %>/media/scripts/scripts.min.js" defer></script>